<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- Compressed CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
    </head>
    <body class="row align-center small-10 columns">

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            <img src="http://www.vectortemplates.com/raster/batman/batman-logo-big.gif" alt="logo">

            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <!-- Compressed JavaScript -->
        <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
    </body>
</html>
