/*********************\
****** Home page ******
\*********************/

.cards_challenge{
    padding-left: 0;
    padding-right: 0;
}


/*************************\
* Page de connexion ******
\*************************/

.logo {
    width:400px;
    margin-top:2em;
    margin-bottom:2em;
}
.title {
    text-align: center;
}