/*********************\
****** General  *******
\*********************/

.button{
    margin: 1rem 0 1rem 0;
}

/*********************\
****** NavBar ******
\*********************/

.title-bar{
    background-color: dimgrey;
}

.title-bar-title{
    color: orange;
}

/*****************************\
****** Vue All Challenge ******
\*****************************/

.accordion-title{
    text-align: center;
    margin-top: 20px;
}


/*********************\
****** Home page ******
\*********************/

.cards_challenge{
    /*padding-left: 0;*/
    /*padding-right: 0;*/

}


/*************************\
* Page de connexion ******
\*************************/

.logo {
    width:400px;
    margin-top:2em;
    margin-bottom:2em;
}
.title {
    text-align: center;
}